@model List<Paradox.Models.ResultModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResultPage</title>
</head>
<body>
    <p>
        Результат проверки
    </p>

    <p>
        Стратегия №1: участник оставляет свой выбор.
    </p>

    <p>
        @Model[0].WinRate1% Побед
    </p>

    <p>
        Стратегия №2: участник меняет свой выбор.
    </p>

    <p>
        @Model[0].WinRate2% Побед
    </p>

    <p>
        Как видно из результатов, стратегия №2 оказалась куда "удачливее".
    </p>

    <p>
        Это одна из известных задач теории вероятностей - Парадокс Монти Холла, решение которой, на первый
        взгляд, противоречит здравому смыслу.
    </p>

    <p>
        Для стратегии выигрыша важно следующее: если вы меняете выбор двери после действий ведущего, 
        то вы выигрываете, если изначально выбрали проигрышную дверь. Это произойдёт с вероятностью 2⁄3, 
        так как изначально выбрать проигрышную дверь можно 2 способами из 3.
    </p>

    <form action="/Check/Check">
        <input type="submit" value="Повторить проверку" />
    </form><br />

    <form action="/Check/StartPage">
        <input type="submit" value="Вернуться на главную" />
    </form>
</body>
</html>
