
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Парадокс Монти Холла</title>
</head>
<body>
    <p>
        Представьте, что вы стали участником игры, в которой вам нужно выбрать одну из трёх дверей.
        За одной из дверей находится автомобиль, за двумя другими дверями — козы.
        Вы выбираете одну из дверей, например, номер 1, после этого ведущий, который знает, где находится
        автомобиль, а где — козы,
        открывает одну из оставшихся дверей, например, номер 3, за которой находится коза.
        После этого он спрашивает вас — не желаете ли вы изменить свой выбор и выбрать дверь номер 2?
        Увеличатся ли ваши шансы выиграть автомобиль, если вы примете предложение ведущего и измените
        свой выбор?
    </p>

    <p>
        Давайте проверим этот парадокс через многократное повторение возможных стратегий действия
        участника и проанализируем результат.
    </p>

    <p>
        Стратегия №1: участник оставлет свой выбор.
    </p>

    <p>
        Стратегия №2: участник меняет свой выбор.
    </p>

    <p>
        Программа раз за разом будет повторять эти стратегии и записывать получившийся результат,
        после чего мы сможем наглядно увидеть, какая стратегия дает больший процент побед.
    </p>

    <form action="/Check/Check">
        <input type="submit" value="Начать проверку" />
    </form>
</body>
</html>
